.page4 {
  overflow-x: hidden;
  width: 100%;
  background-color: white;
  flex-grow: 1;
}

.rumbo-a-brasil {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  gap: 5%;
  background-color: white;
}

.rumbo-content {
  flex: 1;
  max-width: 600px;
}

.rumbo-title {
  font-size: 4rem;
  font-weight: 800;
  margin-bottom: 0.5rem;
  font-family: "Barlow Condensed", sans-serif;
  line-height: 1;
  color: black;
}

.rumbo-subtitle {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  font-family: "Barlow Condensed", sans-serif;
  line-height: 1.1;
  color: black;
}

.rumbo-text {
  font-size: 1.1rem;
  line-height: 1.5;
  font-family: Arial, sans-serif;
  text-align: justify;
  color: black;
}

.rumbo-image-container {
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rumbo-image {
  max-width: 300px;
  height: auto;
  object-fit: contain;
}

.kuntur1-image {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  margin-bottom: 2.5rem;
}

.misiones-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

@media (max-width: 900px) {
  .rumbo-a-brasil {
    flex-direction: column;
    text-align: center;
    padding: 3vh 5%;
  }

  .rumbo-content {
    max-width: 100%;
  }

  .rumbo-title {
    font-size: 2.5rem;
  }

  .rumbo-subtitle {
    font-size: 1.8rem;
  }

  .rumbo-text {
    font-size: 0.9rem;
  }

  .rumbo-image {
    max-width: 200px;
  }
}
