/* Estilos para el contenedor principal de la página de Noticias */
.container-noticias {
  width: 100%; 
  min-height: 100vh;
  color: #111827; /* gray-900 */
  background-color: #f9fafb; /* gray-50 */
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  box-sizing: border-box;
  padding: 4rem 1rem;
}

/* Asegurar que el footer esté siempre al final */
.container-noticias {
  justify-content: flex-start;
}
