.tarjeta-noticia {
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.tarjeta-noticia-info {
  margin: 1.3rem;
}

.tarjeta-noticia::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #2563eb;
  transition: width 0.3s ease;
}

.tarjeta-noticia:hover::after {
  width: 100%;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tarjeta-noticia-image{
  width: 100%;
  height: 180px;
  object-fit: cover;
  display: block;
}
